[submodule "Object recognition and computer vision/Assignments/Assignment 3/A3_RecVis"]
	path = Object recognition and computer vision/Assignments/Assignment 3/A3_RecVis
	url = https://github.com/francklaborde/A3_RecVis.git
